<div id="feature_results">

	<div class="row-fluid">					
		<div class="span2">
	
		</div>

		<div class="span8">	
			<ul id="breadcrumbs-one" class="breadcrumbs-list">
		    	<li><a href="">Home</a></li>
		    	<li><a href="">Reserving routes</a></li>    	
		    	<li><a href="" class="current">Current crumb</a></li>
			</ul>
			<ul class="feature-list">
				<li class="features-header">
					<h3><span class="underline_red"> <%= @scenario.name %> </span></h3>
				</li>

				<%= content_tag :div, "", id: "annual", data: {performance: @scenario.performance_results} %>
				
				<li class ="scenario-text">
					<p class="test">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam consectetur felis sed lacus euismod eleifend. Maecenas eget elit ac arcu vehicula suscipit. Donec a purus vel velit porttitor tincidunt. In scelerisque velit in tellus mattis ut ultricies nunc feugiat. Vivamus lorem velit, vestibulum sed dapibus vitae, lobortis id magna. Mauris quis eros orci. Curabitur scelerisque neque vitae nisi bibendum in malesuada massa pharetra. Nullam suscipit lorem in tortor ullamcorper facilisis pulvinar dui lacinia. Aliquam ac risus lectus, sit amet cursus lacus. Donec pretium, est at pulvinar eleifend, odio nisl facilisis erat, in commodo ante lectus congue orci. Curabitur dignissim pretium magna, vitae laoreet nulla iaculis eget. Integer urna dolor, elementum eget placerat non, dignissim ac lorem. Donec vitae lacus lectus, non vestibulum diam.</p>
										  					
				</li>		
				<ul class="tags">
					<li><a href="#">tag</a></li>
					<li><a href="#">tag name</a></li>

				</ul>
			</ul>
			<ul class="feature-list">
				<li class="features-header">
					<h3><span class="underline_red"> <%= @scenario.name %> </span></h3>
				</li>
				
				<li class ="scenario-text">
					<p class="test">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam consectetur felis sed lacus euismod eleifend. Maecenas eget elit ac arcu vehicula suscipit. Donec a purus vel velit porttitor tincidunt. In scelerisque velit in tellus mattis ut ultricies nunc feugiat. Vivamus lorem velit, vestibulum sed dapibus vitae, lobortis id magna. Mauris quis eros orci. Curabitur scelerisque neque vitae nisi bibendum in malesuada massa pharetra. Nullam suscipit lorem in tortor ullamcorper facilisis pulvinar dui lacinia. Aliquam ac risus lectus, sit amet cursus lacus. Donec pretium, est at pulvinar eleifend, odio nisl facilisis erat, in commodo ante lectus congue orci. Curabitur dignissim pretium magna, vitae laoreet nulla iaculis eget. Integer urna dolor, elementum eget placerat non, dignissim ac lorem. Donec vitae lacus lectus, non vestibulum diam.</p>
										  					
				</li>		
				<ul class="tags">
					<li><a href="#">tag</a></li>
					<li><a href="#">tag name</a></li>

				</ul>
			</ul>
		</div>
		<div class="span2">
		</div>
	</div>	
</div>
