
.navbar {
	
	.container {
		height: 75px;
	}
	
	.btn-primary {	
		margin-top: 25px;	
	}
	
	.input-xxlarge {	
		margin-top: 25px;
	}

	.prepender {
		margin-top: 15px;
		margin-right: 5px;
		margin-left: 15px;
	}

	
}

.hero-pic {
    text-align: center;
}

body {
	padding-top: $navbarHeight + 60px;
    padding-bottom: 40px;
}


