.navbar {	
	
	.prepender {		
		margin-right: 5px;
		margin-left: 15px;
		margin-top: 0px;		
	}

	.navbar-form {		
		margin-top: 20px;
	}

	.btn-primary {
		margin-left: 10px;
	}

	.caret {
	   background-color: transparent;
	}

	.dropdown-menu {
		left: -100px;
		text-align: left;
	}
}

.hero-pic {
    text-align: center;
}

body {
	padding-top: $navbarHeight + 60px;
    padding-bottom: 40px;
}