
<% if @features %>
<h3> Findings: </h3>
<div class="feature-area">
	<div class="lines"/>	
	<ul class="feature-list">
		<% @features.each do |feature| %>  
		<li>
			<a class="feature-link" href="<%= feature_path(feature) %>"> 
				<%= feature.name %>				
			</a>
			<p class="feature-tags"> <%= raw feature.tag_list.map { |t| link_to t, tag_path(t) }.join(', ') %> </p>
		</li>
		<% end %>
	</ul>	
</div>
<% end %>
